@charset "UTF-8";


html, body{
	width: 99%;
	height: auto;
	
}

div{
	margin: 0 auto;
}

.logo{
	width: 30%;
	height: 25%;
	margin-bottom: 50px;
	margin-left: 0%;
}

img{
	width: 100%;
}

.table img{
	width: 40%;
	margin-left: 30%;
	margin-right: auto;
	align-content: center;
	align-items: center;
	margin-bottom: 50px;
}

table{
	width: 80%;
}

#page-wrapper{
	margin-top: 0px;
}

#tourdates{
	margin-top: 100px;
}

h1{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 16pt;
	font-weight: 500;
	color: black;
	text-align: center;
	width: 100%;
	margin-top: -30px;
	margin-bottom: 50px;
}


h2{
	font-size: 16pt;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-decoration: underline;
	text-align: center;
	color: black;
	font-weight: 300;
	margin-left: auto;
}

.table{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 14pt;
	font-weight: 300;
	color: black;
	text-align: left;
	width: 100%;
	margin-bottom: 50px;
}

th{
	padding-bottom: 10px;
}


td{
	font-size: 12pt;
	padding-bottom: 50px;
}

.table{
	width: 100%;
	margin-top: 20px;
}

#slideshow{
	margin-top:  0%;
}

p{
	margin-left: 10%;
	margin-right: 12%;
}



#tour{
	margin-top: 0%;
}

#band{
	margin-top: 0%;
}

#merch{
	margin-top: 0%;
}

#music{
	margin-top: 0%;
}

#tour:hover{
	color: #b3ae2c;
	margin-top: 0%;
}

#band:hover{
	color:#ee4b80;
	margin-top: 0%;
}

#music:hover{
	color:#50a8c0;
	margin-top: 0%;
}

#merch:hover{
	color:#d3362f;
	margin-top: 0%;
}

h3{
	font-size: 16pt;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-style: none;
	text-align: center;
	color: black;
	font-weight: 300;
	text-decoration: underline;
	margin-left: auto;
}


.nav-bar{
	text-decoration: none;
	list-style: none;
	display: inline-block;
	list-style-type: inline;

	
}

#menu{
	margin-bottom: 75px;
	width: 100%;
	float: inherit;
	table-layout: auto;
	align-content: center;
	margin-left: auto;
	text-decoration-style: none;
}

a{
	color: black;
	text-decoration: none;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	align-content: center;
	

}

.contact{
	margin-left: -60px;
}

.footer{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 200;
	float: center;
	align-content: center;
	width: 100%;
	color: black;
	max-width: 100%;
	margin-bottom: 75px;
	text-align: center;
	margin-left: 0%;
	margin-right: auto;
}

a:hover{
	color: #f5d33e;
}

.container {
  display: inline-block;
  cursor: pointer;
	height: 200px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  font-family: sans-serif;

}

a {
  text-decoration: none;
}

.container {
  position: relative;
  margin: 35px auto 0;
  width: 100%;
  height: 200px;

  overflow: hidden;
}

body {
  margin: auto;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}

/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
	;
}

.header ul {
  	
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 15px 20px 0px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}




























@media (max-width:768px){
}
